name: Establishment Service Dev Docker

on:
  workflow_dispatch:
  push:
    branches:
      - develop
    paths-ignore:
      - README.md
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  TAGS: dev

jobs:
  build-and-push-image:
    runs-on: self-hosted

    permissions:
      contents: read
      packages: write

    steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}


        - name: Build and Push Docker Image
          id: push
          uses: docker/build-push-action@v6
          with:
            context: .
            push: true
            tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAGS }}
